:root {
    --very-dark-blue: hsl(234, 12%, 34%);
    --graish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    width: 95%;
    max-width: 1240px;

    background-color: var(--very-light-gray);
}

.header__text {
    display: block;
    font-size: 29px;
    font-weight: 200;
}

.header__text--bold {
    font-weight: 600;
}

.header__mission {
    text-align: center;
}