:root {
    --very-dark-blue: hsl(234, 12%, 34%);
    --graish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--very-dark-blue);
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--graish-blue);

    margin: 0 auto;
    width: 95%;
    max-width: 1240px;

    background-color: var(--very-light-gray);
}

.header__text {
    display: block;
    font-size: 24px;
    font-weight: 200;
}

.header__text--bold {
    font-weight: 600;
}

.header__mission {
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
}

.header, .content, footer {
    width: 85%;
    margin: 0 auto;
}

.card {
    margin: 40px 0;
    padding: 30px 0 0 35px;
    height: 250px;
    background-color: white;

    border: 0 solid rgba(0,0,0,.125);
    border-top: 5px solid;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(75,91,108,.2);

    text-align: left;
    font-size: 15px;
    font-weight: 400;
}

.supervisor {
    border-top-color: var(--cyan);
    background: url(../images/icon-supervisor.svg) no-repeat 91% 86%/65px;
}

.team {
    border-top-color: var(--red);
    background: url(../images/icon-team-builder.svg) no-repeat 91% 86%/65px;
}

.karma {
    border-top-color: var(--orange);
    background: url(../images/icon-karma.svg) no-repeat 91% 86%/65px;
}

.calculator {
    border-top-color: var(--blue);
    background: url(../images/icon-calculator.svg) no-repeat 91% 86%/65px;
}