@media(min-width: 600px) {
    .content {
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }    
}


@media(min-width: 1024px) {
    .content {
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-areas: 
       "supervisor team karma"
       ". calculator ."
       ;
    }

    .supervisor {
        grid-area: supervisor;
    }
    
    .team {
        grid-area: team;
    }
    
    .karma {
        grid-area: karma;
    }
    
    .calculator {
        grid-area: calculator;
    }
}